<section>
  <h3>Buttons:</h3>
  <app-button style="margin: auto 5px;" label="default"></app-button>
  <app-button style="margin: auto 5px;" type="success" label="success"></app-button>
  <app-button style="margin: auto 5px;" [outline]="true" type="info" label="info"></app-button>
  <app-button style="margin: auto 5px;" [outline]="true" type="warning" label="warning"></app-button>
  <app-button style="margin: auto 5px;" type="danger" label="danger"></app-button>
</section>

<router-outlet></router-outlet>
